::-moz-selection {
  background-color: var(--secondary-color);
}
::selection {
  background-color: var(--secondary-color);
}
.aligncenter {
  clear: both;
  display: block;
  margin: 1.5rem auto;
}
img {
  border: 0;
  height: auto;
  max-width: 100%;
}
.wp-block-image {
  position: relative;
  margin-top: var(--spacer-md);
  margin-bottom: var(--spacer-md);
}
.wp-block-image .alignleft {
  margin: 1rem 2rem 1rem 0;
}
.wp-block-image .alignright {
  margin: 1rem 0 1rem 2rem;
}
.wp-block-image.is-style-rounded {
  border-radius: 50%;
}
.is-style-parallax {
  overflow: hidden;
}
.is-style-parallax img {
  box-shadow: none;
  will-change: transform;
}
.is-style-parallax figcaption {
  display: none;
}
figure {
  max-width: 100%;
}
figure figcaption,
.wp-caption-text {
  text-align: center;
  font-style: italic;
  font-size: 0.95rem !important;
  margin: 1.5rem 0 0 !important;
  letter-spacing: 0.25px !important;
}
img.alignleft {
  float: left;
  margin: 1rem 2rem 1rem 0;
}
img.alignright {
  float: right;
  margin: 1rem 0 1rem 2rem;
}
figure.wp-caption:not(.alignleft):not(.alignright) {
  margin-top: var(--spacer-md);
  margin-bottom: var(--spacer-md);
}
figure.wp-caption.alignleft {
  margin-top: 1rem;
  margin-left: calc(0.5 * (100vw - min(calc(100vw - 8 * 25px), var(--wrapper-narrow))) - var(--horizontal-rim));
  margin-right: 2rem;
  margin-bottom: 1rem;
  float: left;
}
figure.wp-caption.alignright {
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: calc(0.5 * (100vw - min(calc(100vw - 8 * 25px), var(--wrapper-narrow))) - var(--horizontal-rim));
  margin-bottom: 1rem;
  float: right;
}
@media (max-width: 1112px) {
  figure.wp-caption.alignleft {
    margin-left: 0;
  }
  figure.wp-caption.alignright {
    margin-right: 0;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  margin-top: var(--spacer-md);
  font-family: var(--heading-font);
  font-weight: var(--heading-font-weight);
  margin-bottom: 1.5rem;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  display: table;
  font-family: var(--subheading-font);
  font-weight: var(--subheading-font-weight);
  text-transform: var(--subheading-transform);
  letter-spacing: var(--subheading-spacing);
  margin-bottom: 1.5rem;
  line-height: 1.3;
  position: relative;
  padding-left: 0.25rem;
  z-index: 1;
}
h1 small::before,
h2 small::before,
h3 small::before,
h4 small::before,
h5 small::before,
h6 small::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--secondary-bg);
  z-index: -1;
}
h1 small strong,
h2 small strong,
h3 small strong,
h4 small strong,
h5 small strong,
h6 small strong {
  margin-left: -4px;
}
h1 small strong::before,
h2 small strong::before,
h3 small strong::before,
h4 small strong::before,
h5 small strong::before,
h6 small strong::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--bg-color);
  z-index: -1;
}
h1.has-text-align-center small,
h2.has-text-align-center small,
h3.has-text-align-center small,
h4.has-text-align-center small,
h5.has-text-align-center small,
h6.has-text-align-center small {
  margin-left: auto;
  margin-right: auto;
}
h1.has-text-align-right small,
h2.has-text-align-right small,
h3.has-text-align-right small,
h4.has-text-align-right small,
h5.has-text-align-right small,
h6.has-text-align-right small {
  margin-left: auto;
}
h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
  font-weight: inherit;
  color: var(--secondary-color);
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: var(--secondary-color);
}
h1.is-style-underlined > span,
h2.is-style-underlined > span,
h3.is-style-underlined > span,
h4.is-style-underlined > span,
h5.is-style-underlined > span,
h6.is-style-underlined > span,
h1.is-style-underlined-xl > span,
h2.is-style-underlined-xl > span,
h3.is-style-underlined-xl > span,
h4.is-style-underlined-xl > span,
h5.is-style-underlined-xl > span,
h6.is-style-underlined-xl > span {
  background-image: linear-gradient(to right, var(--secondary-color) 0%, var(--secondary-color) 100%);
  background-repeat: repeat-x;
  background-position: 0 0.86em;
  background-size: 100% 0.175em;
}
h1.is-style-underlined strong,
h2.is-style-underlined strong,
h3.is-style-underlined strong,
h4.is-style-underlined strong,
h5.is-style-underlined strong,
h6.is-style-underlined strong,
h1.is-style-underlined-xl strong,
h2.is-style-underlined-xl strong,
h3.is-style-underlined-xl strong,
h4.is-style-underlined-xl strong,
h5.is-style-underlined-xl strong,
h6.is-style-underlined-xl strong {
  text-shadow: 0 0 0.42em var(--text-shadow-color);
  transform: translateZ(0);
}
h1.alignwide,
h2.alignwide,
h3.alignwide,
h4.alignwide,
h5.alignwide,
h6.alignwide {
  max-width: var(--wrapper);
}
h1.alignfull,
h2.alignfull,
h3.alignfull,
h4.alignfull,
h5.alignfull,
h6.alignfull {
  max-width: initial;
}
h1[class*="icon-"]::before,
h2[class*="icon-"]::before,
h3[class*="icon-"]::before,
h4[class*="icon-"]::before,
h5[class*="icon-"]::before,
h6[class*="icon-"]::before {
  display: block;
  margin: 0 0 1.5rem;
  font-size: 1.333em;
}
h1 + hr,
h2 + hr,
h3 + hr,
h4 + hr,
h5 + hr,
h6 + hr,
h1 + blockquote,
h2 + blockquote,
h3 + blockquote,
h4 + blockquote,
h5 + blockquote,
h6 + blockquote,
h1 + .wp-block-quote,
h2 + .wp-block-quote,
h3 + .wp-block-quote,
h4 + .wp-block-quote,
h5 + .wp-block-quote,
h6 + .wp-block-quote,
h1 + .is-style-info-box,
h2 + .is-style-info-box,
h3 + .is-style-info-box,
h4 + .is-style-info-box,
h5 + .is-style-info-box,
h6 + .is-style-info-box,
h1 + .wp-block-table,
h2 + .wp-block-table,
h3 + .wp-block-table,
h4 + .wp-block-table,
h5 + .wp-block-table,
h6 + .wp-block-table {
  margin-top: calc(var(--spacer-sm) / 2);
}
h1 + .wp-block-embed,
h2 + .wp-block-embed,
h3 + .wp-block-embed,
h4 + .wp-block-embed,
h5 + .wp-block-embed,
h6 + .wp-block-embed,
h1 + .wp-block-cover,
h2 + .wp-block-cover,
h3 + .wp-block-cover,
h4 + .wp-block-cover,
h5 + .wp-block-cover,
h6 + .wp-block-cover,
h1 + .wp-block-gallery,
h2 + .wp-block-gallery,
h3 + .wp-block-gallery,
h4 + .wp-block-gallery,
h5 + .wp-block-gallery,
h6 + .wp-block-gallery {
  margin-top: calc(var(--spacer-sm) - 1rem) !important;
}
h1 + .wp-block-columns,
h2 + .wp-block-columns,
h3 + .wp-block-columns,
h4 + .wp-block-columns,
h5 + .wp-block-columns,
h6 + .wp-block-columns {
  margin-top: var(--spacer-sm) !important;
}
.wp-block-group h1 + h1,
.wp-block-group h2 + h1,
.wp-block-group h3 + h1,
.wp-block-group h4 + h1,
.wp-block-group h5 + h1,
.wp-block-group h6 + h1,
.wp-block-group h1 + h2,
.wp-block-group h2 + h2,
.wp-block-group h3 + h2,
.wp-block-group h4 + h2,
.wp-block-group h5 + h2,
.wp-block-group h6 + h2,
.wp-block-group h1 + h3,
.wp-block-group h2 + h3,
.wp-block-group h3 + h3,
.wp-block-group h4 + h3,
.wp-block-group h5 + h3,
.wp-block-group h6 + h3,
.wp-block-group h1 + h4,
.wp-block-group h2 + h4,
.wp-block-group h3 + h4,
.wp-block-group h4 + h4,
.wp-block-group h5 + h4,
.wp-block-group h6 + h4,
.wp-block-group h1 + h5,
.wp-block-group h2 + h5,
.wp-block-group h3 + h5,
.wp-block-group h4 + h5,
.wp-block-group h5 + h5,
.wp-block-group h6 + h5,
.wp-block-group h1 + h6,
.wp-block-group h2 + h6,
.wp-block-group h3 + h6,
.wp-block-group h4 + h6,
.wp-block-group h5 + h6,
.wp-block-group h6 + h6 {
  margin-top: calc(var(--spacer-md) / 2);
}
.wp-block-columns .wp-block-column h1 small,
.wp-block-columns .wp-block-column h2 small,
.wp-block-columns .wp-block-column h3 small {
  margin-top: 0.75rem;
}
.wp-block-columns .wp-block-column h4 small,
.wp-block-columns .wp-block-column h5 small,
.wp-block-columns .wp-block-column h6 small {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.wp-block-columns .wp-block-column h4 + h4,
.wp-block-columns .wp-block-column h5 + h4,
.wp-block-columns .wp-block-column h6 + h4,
.wp-block-columns .wp-block-column h4 + h5,
.wp-block-columns .wp-block-column h5 + h5,
.wp-block-columns .wp-block-column h6 + h5,
.wp-block-columns .wp-block-column h4 + h6,
.wp-block-columns .wp-block-column h5 + h6,
.wp-block-columns .wp-block-column h6 + h6 {
  margin-top: calc(var(--spacer-md) / 2);
}
.is-style-underlined-xl {
  font-size: var(--xl-font-size);
  line-height: var(--xl-line-height);
}
.is-style-underlined-xl small {
  font-size: var(--xl-subheading);
}
h1 small,
h2 small,
h3 small {
  font-size: var(--h123-subheading);
}
h4 small,
h5 small,
h6 small {
  font-size: var(--h456-subheading);
}
h1 {
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
}
h2 {
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
}
h3 {
  font-size: var(--h3-font-size);
  line-height: var(--h3-line-height);
}
h4 {
  font-size: var(--h4-font-size);
  line-height: var(--h4-line-height);
}
h5 {
  font-size: var(--h5-font-size);
  line-height: var(--h5-line-height);
}
h6 {
  font-size: var(--h6-font-size);
  line-height: var(--h6-line-height);
}
.is-style-excerpt {
  font-size: calc(var(--body-font-size) * 1.333);
  line-height: 1.75;
  margin: calc(var(--spacer-sm) + 0.5rem) auto;
}
.is-style-excerpt.has-drop-cap:not(:focus)::first-letter {
  margin-top: 0.075em;
  font-size: 3em;
}
.is-style-excerpt-big {
  font-size: calc(var(--body-font-size) * 1.333 * 1.333 * 1.333);
  line-height: 1.5;
  max-width: var(--wrapper) !important;
  margin: var(--spacer-sm) auto;
}
p {
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  margin: 1.5rem auto;
}
p a[target="_blank"]::after {
  display: inline-block;
  vertical-align: top;
  margin: -0.1875rem 0.125rem 0 0.1875rem;
  font-family: 'theme-icons';
  content: '\e813';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
}
p.has-drop-cap:not(:focus)::first-letter {
  float: left;
  font-family: var(--heading-font);
  font-weight: var(--heading-font-weight);
  font-style: normal;
  font-size: 3.25em;
  margin: 0.1em 0.15em 0 0;
  padding: 0.175em;
  border: 1px solid currentColor;
  background-color: var(--secondary-bg);
}
p.has-drop-cap:not(:focus)::after {
  display: none;
}
a {
  color: currentColor;
}
a:hover {
  color: var(--secondary-color);
}
strong {
  font-weight: 800;
}
.is-style-info-box {
  line-height: 1.9;
  margin: var(--spacer-md) auto;
  border-left: 0.5rem solid var(--text-color);
  background-color: var(--secondary-bg);
  padding: 1.5rem 2rem 1.5rem 5.5rem;
  position: relative;
}
.is-style-info-box::before {
  font-family: 'theme-icons';
  content: '\e804';
  font-size: var(--h2-font-size);
  line-height: var(--h2-font-size);
  position: absolute;
  left: 2rem;
  top: 50%;
  margin-top: -0.5em;
}
.entry-content > blockquote {
  max-width: var(--wrapper-narrow);
  margin-left: auto;
  margin-right: auto;
}
blockquote,
.wp-block-quote,
.wp-block-pullquote,
.wp-block-quote.is-style-large {
  clear: both;
  padding: 0;
  margin: var(--spacer-md) auto;
  text-align: inherit;
  position: relative;
}
blockquote::before,
.wp-block-quote::before,
.wp-block-pullquote::before,
.wp-block-quote.is-style-large::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 1.5rem;
  bottom: 0;
  right: calc(50% - 1.5rem);
  background: var(--blockquote-bg);
}
blockquote p,
.wp-block-quote p,
.wp-block-pullquote p,
.wp-block-quote.is-style-large p {
  padding: 3rem 1.5rem 3rem 5.5rem;
  font-size: calc(var(--body-font-size) * 1.333);
  line-height: 1.7;
  font-style: italic;
  letter-spacing: 0.25px;
  margin: 0;
  position: relative;
}
blockquote p::before,
.wp-block-quote p::before,
.wp-block-pullquote p::before,
.wp-block-quote.is-style-large p::before {
  font-family: var(--heading-font);
  font-weight: var(--heading-font-weight);
  font-size: var(--xxl-font-size);
  line-height: var(--xxl-font-size);
  color: var(--text-color);
  font-style: normal;
  content: '“';
  position: absolute;
  top: 1.25rem;
  left: 0;
}
blockquote p::after,
.wp-block-quote p::after,
.wp-block-pullquote p::after,
.wp-block-quote.is-style-large p::after {
  z-index: -1;
  position: absolute;
  content: '';
  top: 1.25rem;
  left: 2.75rem;
  right: 50%;
  bottom: 1.25rem;
  background-color: var(--bg-color);
}
blockquote cite,
.wp-block-quote cite,
.wp-block-pullquote cite,
.wp-block-quote.is-style-large cite {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  font-family: var(--heading-font);
  font-weight: var(--heading-font-weight);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-style: normal;
  text-transform: uppercase;
  text-align: right;
  color: var(--post-meta-color);
}
blockquote cite::before,
.wp-block-quote cite::before,
.wp-block-pullquote cite::before,
.wp-block-quote.is-style-large cite::before {
  content: '—';
  margin-right: 0.5rem;
}
blockquote cite small,
.wp-block-quote cite small,
.wp-block-pullquote cite small,
.wp-block-quote.is-style-large cite small {
  display: block;
  font-size: 0.875rem;
  font-family: var(--body-font);
  font-weight: normal;
  text-transform: none;
  text-align: left;
}
.wp-block-pullquote.is-style-solid-color {
  background: none;
}
.wp-block-pullquote.is-style-solid-color blockquote {
  max-width: initial;
}
.wp-block-pullquote.is-style-solid-color blockquote p {
  font-size: calc(var(--body-font-size) * 1.333);
}
.wp-block-pullquote.is-style-solid-color blockquote cite {
  text-transform: uppercase;
}
pre {
  margin: 1.5rem auto;
  font-family: monospace, monospace;
  font-size: var(--body-font-size);
  line-height: 1.75;
  border-radius: 0.625rem;
  padding: 1.25rem 1.75rem 1.5rem;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  border: 1px solid var(--text-color);
  background-color: var(--secondary-bg);
}
code {
  font-family: monospace, monospace;
  display: inline-block;
  line-height: 1.75;
  border-radius: 0.3125rem;
  padding: 0 0.5rem;
  margin: 0 0.125rem;
  border: 1px solid var(--text-color);
  background-color: var(--secondary-bg);
}
kbd {
  font-family: var(--body-font);
  background-color: #f7f7f7;
  border-radius: 0.1875rem;
  color: #000;
  font-size: 0.8125em;
  font-weight: 800;
  padding: 0.25rem 0.5rem;
  margin: 0 0.25rem;
  border: 1px solid #fff;
  white-space: nowrap;
  box-shadow: 0 3px 0 0 var(--secondary-color), inset 0 0 0 2px var(--secondary-color);
}
abbr {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
abbr[title] {
  cursor: help;
}
ins {
  text-decoration: underline;
}
mark {
  color: var(--text-color);
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  background-color: var(--secondary-bg);
}
address {
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
}
.entry-content ul,
.entry-content ol {
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
}
.entry-content ol {
  list-style: none;
  counter-reset: li;
  padding-left: 1.25rem;
}
.entry-content ol li {
  position: relative;
}
.entry-content ol > li {
  counter-increment: li;
  padding-left: 1.25rem;
}
.entry-content ol > li::before {
  position: absolute;
  left: 0;
  top: 0;
  content: counter(li) ".";
}
.responsive-table {
  overflow-x: auto;
}
.entry-content table {
  min-width: 480px;
}
table {
  width: 100%;
  border-collapse: collapse;
  font-size: calc(var(--body-font-size) * 1.333);
  line-height: 1.5;
}
table thead,
table tfoot {
  text-align: center;
}
table th,
table td {
  padding: 1.2rem 1.5rem;
}
table tr {
  border-top: 2px solid var(--text-color);
}
table tr:last-child {
  border-bottom: 2px solid var(--text-color);
}
table th,
table strong {
  font-family: var(--heading-font);
  font-weight: var(--heading-font-weight);
  font-size: var(--h5-font-size);
}
.wp-block-table {
  margin-top: var(--spacer-md);
  margin-bottom: var(--spacer-md);
}
.wp-block-table.is-style-regular {
  border-left: 2px solid var(--text-color);
  border-right: 2px solid var(--text-color);
}
.wp-block-table.is-style-regular tr td:not(:last-child) {
  border-right: 2px solid var(--text-color);
}
.wp-block-table.is-style-stripes {
  border-bottom: 0;
}
.wp-block-table.is-style-stripes thead tr {
  background-color: var(--secondary-bg);
}
.wp-block-table.is-style-stripes tbody tr:nth-of-type(2n) {
  background-color: var(--secondary-bg);
}
.wp-block-table.is-style-stripes tbody tr:nth-of-type(odd) {
  background: none;
}
hr {
  clear: both;
  margin: var(--spacer-md) auto;
  background-color: var(--text-color);
  border-radius: 4px;
  border: 0;
  height: 2px;
}
body.exo2-opensans h1.is-style-underlined > span,
body.exo2-opensans h2.is-style-underlined > span,
body.exo2-opensans h3.is-style-underlined > span,
body.exo2-opensans h4.is-style-underlined > span,
body.exo2-opensans h5.is-style-underlined > span,
body.exo2-opensans h6.is-style-underlined > span,
body.exo2-opensans h1.is-style-underlined-xl > span,
body.exo2-opensans h2.is-style-underlined-xl > span,
body.exo2-opensans h3.is-style-underlined-xl > span,
body.exo2-opensans h4.is-style-underlined-xl > span,
body.exo2-opensans h5.is-style-underlined-xl > span,
body.exo2-opensans h6.is-style-underlined-xl > span {
  background-position: 0 0.9em;
}
body.exo2-opensans blockquote p::before,
body.exo2-opensans .wp-block-quote p::before,
body.exo2-opensans .wp-block-pullquote p::before,
body.exo2-opensans .wp-block-quote.is-style-large p::before {
  left: 0.5rem;
}
body.exo2-opensans .button,
body.exo2-opensans form button,
body.exo2-opensans form input[type="button"],
body.exo2-opensans form input[type="submit"],
body.exo2-opensans .wp-block-button .wp-block-button__link,
body.exo2-opensans #comments .comment-navigation a {
  line-height: 1.185;
}
body.orbitron-raleway h1.is-style-underlined > span,
body.orbitron-raleway h2.is-style-underlined > span,
body.orbitron-raleway h3.is-style-underlined > span,
body.orbitron-raleway h4.is-style-underlined > span,
body.orbitron-raleway h5.is-style-underlined > span,
body.orbitron-raleway h6.is-style-underlined > span,
body.orbitron-raleway h1.is-style-underlined-xl > span,
body.orbitron-raleway h2.is-style-underlined-xl > span,
body.orbitron-raleway h3.is-style-underlined-xl > span,
body.orbitron-raleway h4.is-style-underlined-xl > span,
body.orbitron-raleway h5.is-style-underlined-xl > span,
body.orbitron-raleway h6.is-style-underlined-xl > span {
  background-position: 0 0.9em;
}
body.orbitron-raleway blockquote p::before,
body.orbitron-raleway .wp-block-quote p::before,
body.orbitron-raleway .wp-block-pullquote p::before,
body.orbitron-raleway .wp-block-quote.is-style-large p::before {
  left: 0.25rem;
}
body.poppins-opensans h1.is-style-underlined > span,
body.poppins-opensans h2.is-style-underlined > span,
body.poppins-opensans h3.is-style-underlined > span,
body.poppins-opensans h4.is-style-underlined > span,
body.poppins-opensans h5.is-style-underlined > span,
body.poppins-opensans h6.is-style-underlined > span,
body.poppins-opensans h1.is-style-underlined-xl > span,
body.poppins-opensans h2.is-style-underlined-xl > span,
body.poppins-opensans h3.is-style-underlined-xl > span,
body.poppins-opensans h4.is-style-underlined-xl > span,
body.poppins-opensans h5.is-style-underlined-xl > span,
body.poppins-opensans h6.is-style-underlined-xl > span {
  background-position: 0 0.94em;
}
#cursor {
  display: none;
}
@media (any-pointer: fine) {
  #cursor {
    opacity: 0;
    display: block;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--text-color);
    pointer-events: none;
    transition: opacity 0.2s, background-color 0.5s;
  }
}
@media (max-width: 1280px) {
  #cursor {
    width: 1.75rem;
    height: 1.75rem;
  }
}
#menu-opener {
  display: none;
  position: relative;
  width: 38px;
  height: 34px;
  margin-left: auto;
}
#menu-opener:hover {
  cursor: pointer;
}
#menu-opener::before,
#menu-opener::after,
#menu-opener span {
  display: inline-block;
  position: absolute;
  content: "";
  right: 0;
  width: 38px;
  height: 4px;
  border-radius: 4px;
  background: var(--text-color);
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}
#menu-opener::before {
  top: 6px;
}
#menu-opener span {
  top: 15px;
}
#menu-opener::after {
  top: 24px;
}
#menu-opener:hover::before,
#menu-opener:hover::after,
#menu-opener:hover span {
  background-color: var(--secondary-color);
}
html:not(.is-loading) body.menu-opened #menu-opener::before,
html:not(.is-loading) body.menu-opened #menu-opener::after,
html:not(.is-loading) body.menu-opened #menu-opener span {
  width: 32px;
}
html:not(.is-loading) body.menu-opened #menu-opener::before {
  transform: translate(0px, 9px) rotate(-45deg);
}
html:not(.is-loading) body.menu-opened #menu-opener::after {
  transform: translate(0px, -9px) rotate(45deg);
}
html:not(.is-loading) body.menu-opened #menu-opener span {
  opacity: 0;
}
body.admin-bar .close-button {
  margin-top: var(--admin-bar);
}
.close-button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  opacity: 0;
  pointer-events: none;
}
.close-button::before,
.close-button::after {
  position: absolute;
  content: '';
  width: 31px;
  height: 4px;
  border-radius: 4px;
  left: 0;
  top: 50%;
  margin-top: -2px;
  background-color: var(--text-color);
  transition: background-color 0.3s;
}
.close-button::before {
  transform: rotate(45deg);
}
.close-button::after {
  transform: rotate(-45deg);
}
.close-button:hover {
  cursor: pointer;
}
.close-button:hover::before,
.close-button:hover::after {
  background-color: var(--secondary-color);
}
#back-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s, color 0.5s;
}
#back-to-top:hover {
  cursor: pointer;
  color: var(--secondary-color);
}
#back-to-top::before {
  display: inline-block;
  vertical-align: middle;
  font-size: 2rem;
  font-family: 'theme-icons';
  content: '\f005';
}
body:not(.fullscreen-menu).scrolled #back-to-top {
  opacity: 1;
  pointer-events: auto;
}
.button,
.entry-content button,
.wp-block-button__link {
  position: relative;
}
.button span,
.entry-content button span,
.wp-block-button__link span {
  display: inline-block;
  color: var(--text-color);
  transition: transform 0.3s, opacity 0.3s, color 0.3s;
}
.button::after,
.entry-content button::after,
.wp-block-button__link::after {
  top: 50%;
  left: 0;
  right: 0;
  opacity: 0;
  position: absolute;
  text-align: center;
  content: attr(data-hover);
  transform: translateY(100%);
  color: var(--bg-color);
  transition: transform 0.3s, opacity 0.3s, color 0.3s;
}
.button:hover span,
.entry-content button:hover span,
.wp-block-button__link:hover span {
  opacity: 0;
  transform: translateY(-100%);
}
.button:hover::after,
.entry-content button:hover::after,
.wp-block-button__link:hover::after {
  opacity: 1;
  transform: translateY(-50%);
}
.button,
form button,
form input[type="button"],
form input[type="submit"] {
  color: var(--text-color);
  display: inline-block;
  vertical-align: middle;
  font-family: var(--buttons-font);
  font-weight: var(--buttons-font-weight);
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 50px;
  text-decoration: none;
  white-space: nowrap;
  background: none;
  border: 3px solid var(--text-color);
  line-height: 1.1875;
  padding: 1rem 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  transition: color 0.5s, background-color 0.4s, opacity 0.4s;
}
.button:hover,
form button:hover,
form input[type="button"]:hover,
form input[type="submit"]:hover {
  color: var(--bg-color);
  background-color: var(--text-color);
}
.button:active,
form button:active,
form input[type="button"]:active,
form input[type="submit"]:active {
  opacity: 0.6;
}
.button:hover,
form button:hover,
form input[type="button"]:hover,
form input[type="submit"]:hover {
  cursor: pointer;
}
.button + .button,
form button + .button,
form input[type="button"] + .button,
form input[type="submit"] + .button,
.button + form button,
form button + form button,
form input[type="button"] + form button,
form input[type="submit"] + form button,
.button + input[type="button"],
form button + input[type="button"],
form input[type="button"] + input[type="button"],
form input[type="submit"] + input[type="button"],
.button + input[type="submit"],
form button + input[type="submit"],
form input[type="button"] + input[type="submit"],
form input[type="submit"] + input[type="submit"] {
  margin-left: 1rem;
}
.wp-block-buttons {
  margin: 2rem auto -1rem !important;
  max-width: var(--wrapper-narrow);
}
.wp-block-buttons.alignright {
  text-align: right;
}
.wp-block-buttons.alignright .wp-block-button {
  margin-left: 0;
}
.wp-block-buttons .wp-block-button {
  margin-bottom: 1rem;
}
.wp-block-buttons .wp-block-button:not(:last-child) {
  margin-right: 1rem;
}
.wp-block-button {
  color: inherit;
  margin-bottom: 1.5rem;
}
.wp-block-button .wp-block-button__link {
  color: var(--text-color);
  display: inline-block;
  vertical-align: middle;
  font-family: var(--buttons-font);
  font-weight: var(--buttons-font-weight);
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 50px;
  text-decoration: none;
  white-space: nowrap;
  background: none;
  border: 3px solid var(--text-color);
  line-height: 1.1875;
  padding: 1rem 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  transition: color 0.5s, background-color 0.4s, opacity 0.4s;
  margin: 0 !important;
}
.wp-block-button .wp-block-button__link:hover {
  color: var(--bg-color);
  background-color: var(--text-color);
}
.wp-block-button .wp-block-button__link:active {
  opacity: 0.6;
}
.wp-block-button.alignright {
  text-align: right;
}
.wp-block-button.is-style-fill .wp-block-button__link {
  background-color: var(--text-color);
}
.wp-block-button.is-style-fill .wp-block-button__link span {
  color: var(--bg-color);
}
.share-article {
  margin: var(--spacer-lg) auto 0;
  text-align: center;
}
.share-article .share-title {
  margin: 0;
  font-family: var(--subheading-font);
  font-weight: var(--subheading-font-weight);
  text-transform: var(--subheading-transform);
  letter-spacing: var(--subheading-spacing);
  font-size: var(--xxl-subheading);
}
.share-article .share-links {
  font-family: var(--buttons-font);
  font-weight: var(--buttons-font-weight);
  font-size: var(--xxl-subheading);
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  opacity: 0;
  pointer-events: none;
}
.share-article .share-links a {
  display: inline-block;
  padding: 0.5rem calc(var(--spacer-sm) / 2);
  text-decoration: none;
}
.share-article .share-links a:hover {
  color: var(--secondary-color);
}
.share-article .share-wrapper {
  display: inline-block;
  position: relative;
}
.share-article .share-wrapper:hover .share-title {
  opacity: 0;
}
.share-article .share-wrapper:hover .share-links {
  opacity: 1;
  pointer-events: auto;
}
.wp-block-a7x-counter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: var(--spacer-md);
  margin-bottom: var(--spacer-md);
}
.wp-block-a7x-counter .counter-item {
  flex-grow: 1;
  flex-basis: 0;
  font-family: var(--heading-font);
  font-weight: var(--heading-font-weight);
  text-align: center;
  padding: 1rem 1rem;
}
.wp-block-a7x-counter .counter-item:empty {
  display: none;
}
.wp-block-a7x-counter .counter-number {
  margin: -1rem 0 0.25rem;
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
}
.wp-block-a7x-counter .counter-text {
  display: inline-block;
  font-family: var(--subheading-font);
  font-weight: var(--subheading-font-weight);
  text-transform: var(--subheading-transform);
  letter-spacing: var(--subheading-spacing);
  font-size: var(--h123-subheading);
  background-color: var(--secondary-bg);
  padding-left: 0.25rem;
  white-space: nowrap;
  line-height: 1.3;
}
.entry-content > [class*="wp-block"].alignwide + .wp-block-a7x-counter,
.entry-content > [class*="wp-block"].alignfull + .wp-block-a7x-counter {
  margin-top: calc((var(--spacer-lg) - var(--spacer-md)) * -1);
  margin-bottom: var(--spacer-md);
}
.entry-content > [class*="wp-block"].alignwide + .wp-block-a7x-counter + [class*="wp-block"].alignwide,
.entry-content > [class*="wp-block"].alignfull + .wp-block-a7x-counter + [class*="wp-block"].alignwide,
.entry-content > [class*="wp-block"].alignwide + .wp-block-a7x-counter + [class*="wp-block"].alignfull,
.entry-content > [class*="wp-block"].alignfull + .wp-block-a7x-counter + [class*="wp-block"].alignfull {
  margin-top: var(--spacer-md);
}
.wp-block {
  max-width: var(--wrapper-narrow);
}
.wp-block[data-align="wide"] {
  max-width: var(--wrapper);
  margin-top: var(--spacer-lg);
  margin-bottom: var(--spacer-lg);
}
.wp-block[data-align="full"] {
  max-width: none;
  margin-top: var(--spacer-lg);
  margin-bottom: var(--spacer-lg);
  padding-left: 10px;
  padding-right: 10px;
}
.entry-content > [class*="wp-block"] {
  max-width: var(--wrapper-narrow);
  margin-left: auto;
  margin-right: auto;
}
.entry-content > [class*="wp-block"].alignwide {
  max-width: var(--wrapper);
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--spacer-lg);
  margin-bottom: var(--spacer-lg);
}
.entry-content > [class*="wp-block"].alignwide .alignwide {
  max-width: var(--wrapper);
  margin-left: auto;
  margin-right: auto;
}
.entry-content > [class*="wp-block"].alignwide .alignfull {
  max-width: none;
}
.entry-content > [class*="wp-block"].alignfull {
  margin-top: var(--spacer-lg);
  margin-bottom: var(--spacer-lg);
  max-width: none;
  margin-left: auto;
  margin-right: auto;
}
.entry-content > [class*="wp-block"].alignfull .alignwide {
  max-width: var(--wrapper);
  margin-left: auto;
  margin-right: auto;
}
.entry-content > [class*="wp-block"].alignfull .alignfull {
  max-width: none;
  margin-left: auto;
  margin-right: auto;
}
.entry-content .wp-block-columns {
  max-width: var(--wrapper-narrow);
  margin-left: auto;
  margin-right: auto;
}
.wp-block-columns {
  margin-top: var(--spacer-md);
  margin-bottom: var(--spacer-md);
  flex-wrap: nowrap;
}
.wp-block-columns .wp-block-columns {
  margin-left: 0;
  margin-right: 0;
}
.wp-block-columns .wp-block-column {
  flex-grow: 1;
}
.wp-block-columns .wp-block-column > :first-child {
  margin-top: 0;
}
.wp-block-columns .wp-block-column > :last-child {
  margin-bottom: 0;
}
.wp-block-columns .wp-block-column:not(:first-child) {
  margin-left: var(--spacer-md);
}
.wp-block-spacer + * {
  margin-top: 0;
}
.entry-content > .wp-block-group {
  margin-top: var(--spacer-md);
  margin-bottom: var(--spacer-md);
}
.wp-block-group .wp-block-group__inner-container > :first-child {
  margin-top: 0;
}
.wp-block-group .wp-block-group__inner-container > :last-child {
  margin-bottom: 0;
}
.wp-block-group.has-background .wp-block-group__inner-container {
  padding: 3.5rem 4rem;
}
body.page-template-without-page-header .entry-content > .wp-block-cover:first-child {
  margin-top: calc(var(--spacer-md) / -2) !important;
}
.wp-block-cover {
  margin-top: var(--spacer-md);
  margin-bottom: var(--spacer-md);
  padding: var(--spacer-md);
}
.wp-block-cover .wp-block-cover__inner-container {
  color: currentColor;
}
.wp-block-cover .wp-block-cover__inner-container > :first-child {
  margin-top: 0;
}
.wp-block-cover .wp-block-cover__inner-container > :last-child {
  margin-bottom: 0;
}
.wp-block-cover .wp-block-cover__inner-container p {
  max-width: var(--wrapper-narrow);
  margin-left: auto;
  margin-right: auto;
}
.wp-block-cover .wp-block-cover__inner-container p strong {
  color: currentColor;
}
.wp-block-cover .wp-block-cover__inner-container a {
  color: currentColor;
}
.wp-block-cover .wp-block-cover__inner-container a:hover {
  color: var(--secondary-color);
}
.wp-block-cover .wp-block-cover__inner-container blockquote p::after,
.wp-block-cover .wp-block-cover__inner-container .wp-block-quote p::after,
.wp-block-cover .wp-block-cover__inner-container .wp-block-pullquote p::after,
.wp-block-cover .wp-block-cover__inner-container .wp-block-quote.is-style-large p::after {
  background: none;
}
.wp-block-cover .wp-block-cover__inner-container .wp-block-image {
  margin-bottom: 0;
}
.wp-block-cover .wp-block-cover__inner-container .wp-block-image figure {
  margin-top: 0;
  margin-bottom: 0;
}
.wp-block-cover .wp-block-cover__inner-container .wp-block-image + h1,
.wp-block-cover .wp-block-cover__inner-container .wp-block-image h2,
.wp-block-cover .wp-block-cover__inner-container .wp-block-image h3,
.wp-block-cover .wp-block-cover__inner-container .wp-block-image h4,
.wp-block-cover .wp-block-cover__inner-container .wp-block-image h5,
.wp-block-cover .wp-block-cover__inner-container .wp-block-image h6 {
  margin-top: calc(var(--spacer-sm) - 1rem);
}
@media (max-width: 640px) {
  .wp-block-cover {
    padding-left: var(--spacer-sm);
    padding-right: var(--spacer-sm);
  }
}
.wp-block-media-text {
  margin-top: var(--spacer-md);
  margin-bottom: var(--spacer-md);
}
.wp-block-media-text.is-image-fill figure.wp-block-media-text__media {
  min-height: 350px;
}
.wp-block-media-text .wp-block-media-text__content {
  padding: var(--spacer-md) calc(var(--spacer-md) + 1rem);
}
.wp-block-media-text .wp-block-media-text__content > :first-child {
  margin-top: 0;
}
.wp-block-media-text .wp-block-media-text__content > :last-child {
  margin-bottom: 0;
}
.wp-block-media-text .wp-block-media-text__content .wp-block-buttons {
  max-width: initial;
}
@media (max-width: 1920px) {
  .wp-block-media-text .wp-block-media-text__content {
    padding: var(--spacer-md);
  }
}
@media (max-width: 1112px) {
  .wp-block-media-text .wp-block-media-text__content {
    padding: 3.5rem;
  }
}
@media (max-width: 834px) {
  .wp-block-media-text.is-stacked-on-mobile {
    grid-template-columns: 100% !important;
  }
  .wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__media {
    grid-column: 1;
  }
  .wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__content {
    grid-column: 1;
    grid-row: 2;
  }
}
@media (max-width: 640px) {
  .wp-block-media-text.is-image-fill figure.wp-block-media-text__media {
    min-height: 250px;
  }
  .wp-block-media-text .wp-block-media-text__content {
    padding: var(--spacer-sm);
  }
}
.wp-block-separator:not(.has-background) {
  opacity: 0.25;
}
.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  max-width: var(--wrapper-narrow);
  margin-left: auto;
  margin-right: auto;
}
.wp-block-separator.is-style-wide {
  max-width: var(--wrapper);
  margin-left: auto;
  margin-right: auto;
}
.wp-block-separator.is-style-dots {
  height: 0.5rem;
  line-height: 0.5rem;
}
.wp-block-separator.is-style-dots::before {
  display: inline-block;
  vertical-align: middle;
  font-size: 4.5rem;
  letter-spacing: 1em;
  padding-left: 1em;
  color: currentColor;
}
.wp-block-pullquote.alignleft p,
.wp-block-pullquote.alignright p {
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.wp-block-pullquote.alignleft {
  float: left;
  max-width: inherit;
  margin: 1rem 2.5rem 1.5rem 0;
}
.wp-block-pullquote.alignleft blockquote {
  margin: 0;
}
.wp-block-pullquote.alignright {
  float: right;
  max-width: inherit;
  margin: 1rem 0 1.5rem 2.5rem;
}
.wp-block-pullquote.alignright blockquote {
  margin: 0;
}
ul.wp-block-social-links .wp-social-link {
  margin: 0 0.75rem;
}
ul.wp-block-social-links.alignright {
  justify-content: flex-end;
}
.wp-block-gallery {
  margin-top: var(--spacer-md);
  margin-bottom: var(--spacer-md);
}
.wp-block-gallery .blocks-gallery-grid {
  max-width: initial;
  margin: 0 0 -16px;
}
.wp-block-gallery li {
  padding-left: 0 !important;
}
.wp-block-gallery li::before {
  display: none !important;
}
.wp-block-gallery .gallery-caption {
  display: block;
}
.wp-block-embed {
  margin-top: var(--spacer-md);
  margin-bottom: var(--spacer-md);
  text-align: center;
}
.wp-block-embed iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-block-video {
  margin-top: var(--spacer-md);
  margin-bottom: var(--spacer-md);
}
.wp-block-video video {
  display: block;
}
.wp-block-embed-twitter .twitter-tweet {
  margin-left: auto;
  margin-right: auto;
}
.wp-block-audio figcaption {
  color: var(--text-color);
}
.wp-smiley {
  margin: 0 !important;
  max-height: 1em;
}
.gallery {
  max-width: var(--wrapper-narrow);
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.gallery .gallery-item {
  width: 100%;
  display: inline-block;
  max-width: 30.33%;
  margin: 0 1.5% 3%;
  padding-left: 0;
  text-align: center;
}
.gallery .gallery-item img {
  margin-left: auto;
  margin-right: auto;
}
.gallery .gallery-item .gallery-item {
  width: 100%;
}
.gallery-columns-1 .gallery-item {
  max-width: 100%;
  margin: 0 0 5%;
}
.gallery-columns-2 .gallery-item {
  max-width: 47%;
}
.gallery-columns-3 .gallery-item {
  max-width: 30.33%;
}
.gallery-columns-4 .gallery-item {
  max-width: 22%;
}
.gallery-columns-5 .gallery-item {
  max-width: 17%;
}
.gallery-columns-6 .gallery-item {
  max-width: 13.66%;
}
.gallery-columns-7 .gallery-item {
  max-width: 11.285%;
}
.gallery-columns-8 .gallery-item {
  max-width: 9.5%;
}
.gallery-columns-9 .gallery-item {
  max-width: 8.11%;
}
.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none;
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:focus {
  background-color: var(--text-color);
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 1rem 1.5rem 1rem;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000 /* Above WP toolbar. */;
}
#icons-showcase {
  font-size: 0;
  max-width: var(--wrapper);
  margin-left: auto;
  margin-right: auto;
}
#icons-showcase a {
  display: inline-block;
  font-size: var(--h4-font-size);
  padding: 0.5rem 1rem;
  text-decoration: none;
}
[class*="icon-"]:before {
  font-family: 'simple-line-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-user:before {
  content: "\e005";
}
.icon-people:before {
  content: "\e001";
}
.icon-user-female:before {
  content: "\e000";
}
.icon-user-follow:before {
  content: "\e002";
}
.icon-user-following:before {
  content: "\e003";
}
.icon-user-unfollow:before {
  content: "\e004";
}
.icon-login:before {
  content: "\e066";
}
.icon-logout:before {
  content: "\e065";
}
.icon-emotsmile:before {
  content: "\e021";
}
.icon-phone:before {
  content: "\e600";
}
.icon-call-end:before {
  content: "\e048";
}
.icon-call-in:before {
  content: "\e047";
}
.icon-call-out:before {
  content: "\e046";
}
.icon-map:before {
  content: "\e033";
}
.icon-location-pin:before {
  content: "\e096";
}
.icon-direction:before {
  content: "\e042";
}
.icon-directions:before {
  content: "\e041";
}
.icon-compass:before {
  content: "\e045";
}
.icon-layers:before {
  content: "\e034";
}
.icon-menu:before {
  content: "\e601";
}
.icon-list:before {
  content: "\e067";
}
.icon-options-vertical:before {
  content: "\e602";
}
.icon-options:before {
  content: "\e603";
}
.icon-arrow-down:before {
  content: "\e604";
}
.icon-arrow-left:before {
  content: "\e605";
}
.icon-arrow-right:before {
  content: "\e606";
}
.icon-arrow-up:before {
  content: "\e607";
}
.icon-arrow-up-circle:before {
  content: "\e078";
}
.icon-arrow-left-circle:before {
  content: "\e07a";
}
.icon-arrow-right-circle:before {
  content: "\e079";
}
.icon-arrow-down-circle:before {
  content: "\e07b";
}
.icon-check:before {
  content: "\e080";
}
.icon-clock:before {
  content: "\e081";
}
.icon-plus:before {
  content: "\e095";
}
.icon-minus:before {
  content: "\e615";
}
.icon-close:before {
  content: "\e082";
}
.icon-event:before {
  content: "\e619";
}
.icon-exclamation:before {
  content: "\e617";
}
.icon-organization:before {
  content: "\e616";
}
.icon-trophy:before {
  content: "\e006";
}
.icon-screen-smartphone:before {
  content: "\e010";
}
.icon-screen-desktop:before {
  content: "\e011";
}
.icon-plane:before {
  content: "\e012";
}
.icon-notebook:before {
  content: "\e013";
}
.icon-mustache:before {
  content: "\e014";
}
.icon-mouse:before {
  content: "\e015";
}
.icon-magnet:before {
  content: "\e016";
}
.icon-energy:before {
  content: "\e020";
}
.icon-disc:before {
  content: "\e022";
}
.icon-cursor:before {
  content: "\e06e";
}
.icon-cursor-move:before {
  content: "\e023";
}
.icon-crop:before {
  content: "\e024";
}
.icon-chemistry:before {
  content: "\e026";
}
.icon-speedometer:before {
  content: "\e007";
}
.icon-shield:before {
  content: "\e00e";
}
.icon-screen-tablet:before {
  content: "\e00f";
}
.icon-magic-wand:before {
  content: "\e017";
}
.icon-hourglass:before {
  content: "\e018";
}
.icon-graduation:before {
  content: "\e019";
}
.icon-ghost:before {
  content: "\e01a";
}
.icon-game-controller:before {
  content: "\e01b";
}
.icon-fire:before {
  content: "\e01c";
}
.icon-eyeglass:before {
  content: "\e01d";
}
.icon-envelope-open:before {
  content: "\e01e";
}
.icon-envelope-letter:before {
  content: "\e01f";
}
.icon-bell:before {
  content: "\e027";
}
.icon-badge:before {
  content: "\e028";
}
.icon-anchor:before {
  content: "\e029";
}
.icon-wallet:before {
  content: "\e02a";
}
.icon-vector:before {
  content: "\e02b";
}
.icon-speech:before {
  content: "\e02c";
}
.icon-puzzle:before {
  content: "\e02d";
}
.icon-printer:before {
  content: "\e02e";
}
.icon-present:before {
  content: "\e02f";
}
.icon-playlist:before {
  content: "\e030";
}
.icon-pin:before {
  content: "\e031";
}
.icon-picture:before {
  content: "\e032";
}
.icon-handbag:before {
  content: "\e035";
}
.icon-globe-alt:before {
  content: "\e036";
}
.icon-globe:before {
  content: "\e037";
}
.icon-folder-alt:before {
  content: "\e039";
}
.icon-folder:before {
  content: "\e089";
}
.icon-film:before {
  content: "\e03a";
}
.icon-feed:before {
  content: "\e03b";
}
.icon-drop:before {
  content: "\e03e";
}
.icon-drawer:before {
  content: "\e03f";
}
.icon-docs:before {
  content: "\e040";
}
.icon-doc:before {
  content: "\e085";
}
.icon-diamond:before {
  content: "\e043";
}
.icon-cup:before {
  content: "\e044";
}
.icon-calculator:before {
  content: "\e049";
}
.icon-bubbles:before {
  content: "\e04a";
}
.icon-briefcase:before {
  content: "\e04b";
}
.icon-book-open:before {
  content: "\e04c";
}
.icon-basket-loaded:before {
  content: "\e04d";
}
.icon-basket:before {
  content: "\e04e";
}
.icon-bag:before {
  content: "\e04f";
}
.icon-action-undo:before {
  content: "\e050";
}
.icon-action-redo:before {
  content: "\e051";
}
.icon-wrench:before {
  content: "\e052";
}
.icon-umbrella:before {
  content: "\e053";
}
.icon-trash:before {
  content: "\e054";
}
.icon-tag:before {
  content: "\e055";
}
.icon-support:before {
  content: "\e056";
}
.icon-frame:before {
  content: "\e038";
}
.icon-size-fullscreen:before {
  content: "\e057";
}
.icon-size-actual:before {
  content: "\e058";
}
.icon-shuffle:before {
  content: "\e059";
}
.icon-share-alt:before {
  content: "\e05a";
}
.icon-share:before {
  content: "\e05b";
}
.icon-rocket:before {
  content: "\e05c";
}
.icon-question:before {
  content: "\e05d";
}
.icon-pie-chart:before {
  content: "\e05e";
}
.icon-pencil:before {
  content: "\e05f";
}
.icon-note:before {
  content: "\e060";
}
.icon-loop:before {
  content: "\e064";
}
.icon-home:before {
  content: "\e069";
}
.icon-grid:before {
  content: "\e06a";
}
.icon-graph:before {
  content: "\e06b";
}
.icon-microphone:before {
  content: "\e063";
}
.icon-music-tone-alt:before {
  content: "\e061";
}
.icon-music-tone:before {
  content: "\e062";
}
.icon-earphones-alt:before {
  content: "\e03c";
}
.icon-earphones:before {
  content: "\e03d";
}
.icon-equalizer:before {
  content: "\e06c";
}
.icon-like:before {
  content: "\e068";
}
.icon-dislike:before {
  content: "\e06d";
}
.icon-control-start:before {
  content: "\e06f";
}
.icon-control-rewind:before {
  content: "\e070";
}
.icon-control-play:before {
  content: "\e071";
}
.icon-control-pause:before {
  content: "\e072";
}
.icon-control-forward:before {
  content: "\e073";
}
.icon-control-end:before {
  content: "\e074";
}
.icon-volume-1:before {
  content: "\e09f";
}
.icon-volume-2:before {
  content: "\e0a0";
}
.icon-volume-off:before {
  content: "\e0a1";
}
.icon-calendar:before {
  content: "\e075";
}
.icon-bulb:before {
  content: "\e076";
}
.icon-chart:before {
  content: "\e077";
}
.icon-ban:before {
  content: "\e07c";
}
.icon-bubble:before {
  content: "\e07d";
}
.icon-camrecorder:before {
  content: "\e07e";
}
.icon-camera:before {
  content: "\e07f";
}
.icon-cloud-download:before {
  content: "\e083";
}
.icon-cloud-upload:before {
  content: "\e084";
}
.icon-envelope:before {
  content: "\e086";
}
.icon-eye:before {
  content: "\e087";
}
.icon-flag:before {
  content: "\e088";
}
.icon-heart:before {
  content: "\e08a";
}
.icon-info:before {
  content: "\e08b";
}
.icon-key:before {
  content: "\e08c";
}
.icon-link:before {
  content: "\e08d";
}
.icon-lock:before {
  content: "\e08e";
}
.icon-lock-open:before {
  content: "\e08f";
}
.icon-magnifier:before {
  content: "\e090";
}
.icon-magnifier-add:before {
  content: "\e091";
}
.icon-magnifier-remove:before {
  content: "\e092";
}
.icon-paper-clip:before {
  content: "\e093";
}
.icon-paper-plane:before {
  content: "\e094";
}
.icon-power:before {
  content: "\e097";
}
.icon-refresh:before {
  content: "\e098";
}
.icon-reload:before {
  content: "\e099";
}
.icon-settings:before {
  content: "\e09a";
}
.icon-star:before {
  content: "\e09b";
}
.icon-symbol-female:before {
  content: "\e09c";
}
.icon-symbol-male:before {
  content: "\e09d";
}
.icon-target:before {
  content: "\e09e";
}
.icon-credit-card:before {
  content: "\e025";
}
.icon-paypal:before {
  content: "\e608";
}
.icon-social-tumblr:before {
  content: "\e00a";
}
.icon-social-twitter:before {
  content: "\e009";
}
.icon-social-facebook:before {
  content: "\e00b";
}
.icon-social-instagram:before {
  content: "\e609";
}
.icon-social-linkedin:before {
  content: "\e60a";
}
.icon-social-pinterest:before {
  content: "\e60b";
}
.icon-social-github:before {
  content: "\e60c";
}
.icon-social-google:before {
  content: "\e60d";
}
.icon-social-reddit:before {
  content: "\e60e";
}
.icon-social-skype:before {
  content: "\e60f";
}
.icon-social-dribbble:before {
  content: "\e00d";
}
.icon-social-behance:before {
  content: "\e610";
}
.icon-social-foursqare:before {
  content: "\e611";
}
.icon-social-soundcloud:before {
  content: "\e612";
}
.icon-social-spotify:before {
  content: "\e613";
}
.icon-social-stumbleupon:before {
  content: "\e614";
}
.icon-social-youtube:before {
  content: "\e008";
}
.icon-social-dropbox:before {
  content: "\e00c";
}
.icon-social-vkontakte:before {
  content: "\e618";
}
.icon-social-steam:before {
  content: "\e620";
}
